<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_Ctenar>
            <version>0.1.0</version>
        </Knihovna_Ctenar>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Knihovna_Ctenar_Adminhtml before='Mage_Adminthtml'>Knihovna_Ctenar_Adminhtml</Knihovna_Ctenar_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <ctenar module="Knihovna_Ctenar">
                    <file>ctenar.xml</file>
                </ctenar>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <ctenar_is_logged_in_observer>
                        <class>ctenar/observer</class>
                        <method>beforeLoadLayout</method>
                    </ctenar_is_logged_in_observer>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <routers>
            <ctenar>
                <use>standard</use>
                <args>
                    <module>Knihovna_Ctenar</module>
                    <frontName>ctenar</frontName>
                </args>
            </ctenar>
        </routers>
    </frontend>
    <global>
        <models>
            <ctenar>
                <class>Knihovna_Ctenar_Model</class>
                <resourceModel>ctenar_resource</resourceModel>
            </ctenar>
            <ctenar_resource>
                <class>Knihovna_Ctenar_Model_Resource</class>
                <entities>
                    <knihovna_ctenar>
                        <table>ctenar</table>
                    </knihovna_ctenar>
                </entities>
            </ctenar_resource>

        </models>
        <blocks>
            <ctenar>
                <class>Knihovna_Ctenar_Block</class>
            </ctenar>
        </blocks>
        <helpers>
            <ctenar>
                <class>Knihovna_Ctenar_Helper</class>
            </ctenar>
        </helpers>
        <resources>
            <ctenar_setup>
                <setup>
                    <module>Knihovna_Ctenar</module>
                </setup>
            </ctenar_setup>
        </resources>
        <template>
            <email>
                <custom_email_template1>
                    <label>Reset hesla</label>
                    <file>zmenaHesla.html</file>
                    <type>html</type>
                </custom_email_template1>
            </email>
        </template>
        <template>
            <email>
                <upozorneni_na_vypujcky>
                    <label>Vypujcky</label>
                    <file>vypujcky.html</file>
                    <type>html</type>
                </upozorneni_na_vypujcky>
            </email>
        </template>
    </global>
    <crontab>
        <jobs>
            <kontrola_vypujcek>

                <schedule><cron_expr>46,47,48,49,50 * * * *</cron_expr></schedule>

                <run><model>ctenar/ctenar::kontrolaVypujcek</model></run>

            </kontrola_vypujcek>
        </jobs>
    </crontab>
    <default>
        <prukazka>
            <cislo>
                <prefix>MK</prefix>
                <delka>10</delka>
                <vypln>0</vypln>
            </cislo>
        </prukazka>
    </default>
</config>
