<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_MM>
            <version>0.1.0</version>
        </Knihovna_MM>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Knihovna_MM_Adminhtml before='Mage_Adminhtml'>Knihovna_MM_Adminhtml</Knihovna_MM_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <mm>
                <use>standard</use>
                <args>
                    <module>Knihovna_MM</module>
                    <frontName>mm</frontName>
                </args>
            </mm>
        </routers>
    </frontend>
    <global>
        <models>
            <mm>
                <class>Knihovna_MM_Model</class>
                <resourceModel>mm_resource</resourceModel>
            </mm>
            <mm_resource>
                <class>Knihovna_MM_Model_Resource</class>
                <entities>
                    <knihovna_mm>
                        <table>mm_test</table>
                    </knihovna_mm>
                </entities>
            </mm_resource>
        </models>
        <blocks>
            <mm>
                <class>Knihovna_MM_Block</class>
            </mm>
        </blocks>
        <helpers>
            <mm>
                <class>Knihovna_MM_Helper</class>
            </mm>
        </helpers>
        <resources>
            <mm_setup>
                <setup>
                    <module>Knihovna_MM</module>
                </setup>
            </mm_setup>
        </resources>
    </global>
</config>