<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_VJ>
            <version>0.1.0</version>
        </Knihovna_VJ>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Knihovna_VJ_Adminhtml before='Mage_Adminhtml'>Knihovna_VJ_Adminhtml</Knihovna_VJ_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <vj>
                <use>standard</use>
                <args>
                    <module>Knihovna_VJ</module>
                    <frontName>vj</frontName>
                </args>
            </vj>
        </routers>
    </frontend>
    <global>
        <models>
            <vj>
                <class>Knihovna_VJ_Model</class>
                <resourceModel>vj_resource</resourceModel>
            </vj>
            <vj_resource>
                <class>Knihovna_VJ_Model_Resource</class>
                <entities>
                    <knihovna_vj>
                        <table>vj</table>
                    </knihovna_vj>
                </entities>
            </vj_resource>
        </models>
        <blocks>
            <vj>
                <class>Knihovna_VJ_Block</class>
            </vj>
        </blocks>
        <helpers>
            <vj>
                <class>Knihovna_VJ_Helper</class>
            </vj>
        </helpers>
        <resources>
            <vj_setup>
                <setup>
                    <module>Knihovna_VJ</module>
                </setup>
            </vj_setup>
        </resources>
    </global>
</config>