<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_Vypujcky>
            <version>0.1.0</version>
        </Knihovna_Vypujcky>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Knihovna_Vypujcky_Adminhtml before='Mage_Adminhtml'>Knihovna_Vypujcky_Adminhtml</Knihovna_Vypujcky_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <vypujcky>
                <use>standard</use>
                <args>
                    <module>Knihovna_Vypujcky</module>
                    <frontName>vypujcky</frontName>
                </args>
            </vypujcky>
        </routers>
    </frontend>
    <global>
        <models>
            <vypujcky>
                <class>Knihovna_Vypujcky_Model</class>
                <resourceModel>vypujcky_resource</resourceModel>
            </vypujcky>
            <vypujcky_resource>
                <class>Knihovna_Vypujcky_Model_Resource</class>
                <entities>
                    <knihovna_vypujcky>
                        <table>vypujcky</table>
                    </knihovna_vypujcky>
                </entities>
            </vypujcky_resource>
        </models>
        <blocks>
            <vypujcky>
                <class>Knihovna_Vypujcky_Block</class>
            </vypujcky>
        </blocks>
        <helpers>
            <vypujcky>
                <class>Knihovna_Vypujcky_Helper</class>
            </vypujcky>
        </helpers>
        <resources>
            <vypujcky_setup>
                <setup>
                    <module>Knihovna_Vypujcky</module>
                </setup>
            </vypujcky_setup>
        </resources>
    </global>
</config>