<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_AltTest>
            <version>0.1.0</version>
        </Knihovna_AltTest>
    </modules>
    <frontend>
        <layout>
            <updates>
                <knihovna_alttest>
                    <file>helloPetr.xml</file>
                </knihovna_alttest>

            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <knihovna_alttest>
                <class>Knihovna_AltTest_Model</class>
                <resourceModel>knihovna_alttest_resource</resourceModel>
            </knihovna_alttest>
            <knihovna_alttest_resource>
                <entities>
                    <knihovna_alttest>
                        <table>tabulka_petr</table>
                    </knihovna_alttest>
                </entities>
            </knihovna_alttest_resource>
        </models>
        <blocks>
            <knihovna_alttest>
                <class>Knihovna_AltTest_Block</class>
            </knihovna_alttest>
        </blocks>
        <helpers>
            <knihovna_alttest>
                <class>Knihovna_AltTest_Helper</class>
            </knihovna_alttest>
        </helpers>
        <resources>
            <knihovna_alttest_setup>
                <setup>
                    <module>Knihovna_AltTest</module>
                </setup>
            </knihovna_alttest_setup>
        </resources>
    </global>
</config>