<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_Zanr>
            <version>0.1.0</version>
        </Knihovna_Zanr>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Knihovna_Zanr_Adminhtml before='Mage_Adminthtml'>Knihovna_Zanr_Adminhtml</Knihovna_Zanr_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <zanr>
                <use>standard</use>
                <args>
                    <module>Knihovna_Zanr</module>
                    <frontName>zanr</frontName>
                </args>
            </zanr>
        </routers>
    </frontend>
    <global>
        <models>
            <zanr>
                <class>Knihovna_Zanr_Model</class>
                <resourceModel>zanr_resource</resourceModel>
            </zanr>
            <zanr_resource>
                <class>Knihovna_Zanr_Model_Resource</class>
                <entities>
                    <knihovna_zanr>
                        <table>zanr</table>
                    </knihovna_zanr>
                </entities>
            </zanr_resource>

        </models>
        <blocks>
            <zanr>
                <class>Knihovna_Zanr_Block</class>
            </zanr>
        </blocks>
        <helpers>
            <zanr>
                <class>Knihovna_Zanr_Helper</class>
            </zanr>
        </helpers>
        <resources>
            <zanr_setup>
                <setup>
                    <module>Knihovna_Zanr</module>
                </setup>
            </zanr_setup>
        </resources>
    </global>
</config>