<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_Mitest>
            <version>0.1.0</version>
        </Knihovna_Mitest>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Knihovna_Mitest_Adminhtml before='Mage_Adminhtml'>Knihovna_Mitest_Adminhtml</Knihovna_Mitest_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <mitest>
                <use>standard</use>
                <args>
                    <module>Knihovna_Mitest</module>
                    <frontName>mitest</frontName>
                </args>
            </mitest>
        </routers>
    </frontend>
    <global>
        <models>
            <mitest>
                <class>Knihovna_Mitest_Model</class>
                <resourceModel>mitest_resource</resourceModel>
            </mitest>
            <mitest_resource>
                <class>Knihovna_Mitest_Model_Resource</class>
                <entities>
                    <knihovna_mitest>
                        <table>mitable</table>
                    </knihovna_mitest>
                </entities>
            </mitest_resource>

        </models>
        <blocks>
            <mitest>
                <class>Knihovna_Mitest_Block</class>
            </mitest>
        </blocks>
        <helpers>
            <mitest>
                <class>Knihovna_Mitest_Helper</class>
            </mitest>
        </helpers>
        <resources>
            <mitest_setup>
                <setup>
                    <module>Knihovna_Mitest</module>
                </setup>
            </mitest_setup>
        </resources>
    </global>
</config>