<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_Oddeleni>
            <version>0.1.0</version>
        </Knihovna_Oddeleni>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Knihovna_Oddeleni_Adminhtml before='Mage_Adminhtml'>Knihovna_Oddeleni_Adminhtml</Knihovna_Oddeleni_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <oddeleni>
                <use>standard</use>
                <args>
                    <module>Knihovna_Oddeleni</module>
                    <frontName>oddeleni</frontName>
                </args>
            </oddeleni>
        </routers>
    </frontend>
    <global>
        <models>
            <oddeleni>
                <class>Knihovna_Oddeleni_Model</class>
                <resourceModel>oddeleni_resource</resourceModel>
            </oddeleni>
            <oddeleni_resource>
                <class>Knihovna_Oddeleni_Model_Model_Resource</class>
                <entities>
                    <knihovna_oddeleni>
                        <table>oddeleni</table>
                    </knihovna_oddeleni>
                </entities>
            </oddeleni_resource>
        </models>
        <blocks>
            <oddeleni>
                <class>Knihovna_Oddeleni_Block</class>
            </oddeleni>
        </blocks>
        <helpers>
            <oddeleni>
                <class>Knihovna_Oddeleni_Helper</class>
            </oddeleni>
        </helpers>
        <resources>
            <oddeleni_setup>
                <setup>
                    <module>Knihovna_Oddeleni</module>
                </setup>
            </oddeleni_setup>
        </resources>
    </global>
</config>