<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_Autor>
            <version>0.1.0</version>
        </Knihovna_Autor>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Knihovna_Autor_Adminhtml before='Mage_Adminhtml'>Knihovna_Autor_Adminhtml
                        </Knihovna_Autor_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <autor>
                <use>standard</use>
                <args>
                    <module>Knihovna_Autor</module>
                    <frontName>autor</frontName>
                </args>
            </autor>
        </routers>
    </frontend>
    <global>
        <models>
            <autor>
                <class>Knihovna_Autor_Model</class>
                <resourceModel>autor_resource</resourceModel>
            </autor>
            <autor_resource>
                <class>Knihovna_Autor_Model_Resource</class>
                <entities>
                    <knihovna_autor>
                        <table>knihovna_autor</table>
                    </knihovna_autor>
                </entities>
            </autor_resource>
        </models>
        <blocks>
            <autor>
                <class>Knihovna_Autor_Block</class>
            </autor>
        </blocks>
        <helpers>
            <autor>
                <class>Knihovna_Autor_Helper</class>
            </autor>
        </helpers>
        <resources>
            <autor_setup>
                <setup>
                    <module>Knihovna_Autor</module>
                </setup>
            </autor_setup>
        </resources>
    </global>
</config>