<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_Patest>
            <version>0.1.0</version>
        </Knihovna_Patest>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Knihovna_Patest_Adminhtml before='Mage_Adminhtml'>Knihovna_Patest_Adminhtml</Knihovna_Patest_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <patest>
                <use>standard</use>
                <args>
                    <module>Knihovna_Patest</module>
                    <frontName>patest</frontName>
                </args>
            </patest>
        </routers>
    </frontend>
    <global>
        <models>
            <patest>
                <class>Knihovna_Patest_Model</class>
                <resourceModel>patest_resource</resourceModel>
            </patest>
            <patest_resource>
                <class>Knihovna_Patest_Model_Resource</class>
                <entities>
                    <knihovna_patest>
                        <table>patable</table>
                    </knihovna_patest>
                </entities>
            </patest_resource>
        </models>
        <blocks>
            <patest>
                <class>Knihovna_Patest_Block</class>
            </patest>
        </blocks>
        <helpers>
            <patest>
                <class>Knihovna_Patest_Helper</class>
            </patest>
        </helpers>
        <resources>
            <patest_setup>
                <setup>
                    <module>Knihovna_Patest</module>
                </setup>
            </patest_setup>
        </resources>
    </global>
</config>