<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_SuprTest>
            <version>0.1.0</version>
        </Knihovna_SuprTest>
    </modules>
    <frontend>
        <routers>
            <suprtest>
                <use>standard</use>
                <args>
                    <module>Knihovna_SuprTest</module>
                    <frontName>suprtest</frontName>
                </args>
            </suprtest>
        </routers>
    </frontend>
    <global>
        <models>
            <suprtest>
                <class>Knihovna_SuprTest_Model</class>
                <resourceModel>suprtest_resource</resourceModel>
            </suprtest>
            <suprtest_resource>
                <class>Knihovna_SuprTest_Model_Resource</class>
                <entities>
                    <test>
                        <table>knihovna_suprtest</table>
                    </test>
                </entities>
            </suprtest_resource>
        </models>
        <blocks>
            <suprtest>
                <class>Knihovna_SuprTest_Block</class>
            </suprtest>
        </blocks>
        <helpers>
            <suprtest>
                <class>Knihovna_SuprTest_Helper</class>
            </suprtest>
        </helpers>
        <resources>
            <suprtest_setup>
                <setup>
                    <module>Knihovna_SuprTest</module>
                </setup>
            </suprtest_setup>
        </resources>
    </global>
</config>
