<?xml version="1.0"?>
<config>
    <modules>
       <Knihovna_PA>
            <version>0.1.0</version>
        </Knihovna_PA>
    </modules>
        <admin>
            <routers>
                <adminhtml>
                    <args>
                        <modules>
                            <Knihovna_PA_Adminhtml before='Mage_Adminhtml'>Knihovna_PA_Adminhtml</Knihovna_PA_Adminhtml>
                        </modules>
                    </args>
                </adminhtml>
            </routers>
        </admin>
        <frontend>
            <routers>
                <pa>
                    <use>standard</use>
                    <args>
                        <module>Knihovna_PA</module>
                        <frontName>pa</frontName>
                    </args>
                </pa>
            </routers>
        </frontend>
        <global>
            <models>
                <pa>
                    <class>Knihovna_PA_Model</class>
                    <resourceModel>pa_resource</resourceModel>
                </pa>
                <pa_resource>
                    <class>Knihovna_PA_Model_Resource</class>
                    <entities>
                        <knihovna_pa>
                            <table>pa_test</table>
                        </knihovna_pa>
                    </entities>
                </pa_resource>
            </models>
            <blocks>
                <pa>
                    <class>Knihovna_PA_Block</class>
                </pa>
            </blocks>
            <helpers>
                <pa>
                    <class>Knihovna_PA_Helper</class>
                </pa>
            </helpers>
            <resources>
                <pa_setup>
                    <setup>
                        <module>Knihovna_PA</module>
                    </setup>
                </pa_setup>
            </resources>
        </global>
    </config>
