<?xml version="1.0"?>
<config>
    <modules>
        <Book_HelloworldPetr>
            <version>0.1.0</version>
        </Book_HelloworldPetr>
    </modules>
    <frontend>
        <routers>
            <helloworldPetr>
                <use>standard</use>
                <args>
                    <module>Book_HelloworldPetr</module>
                    <frontName>helloworldPetr</frontName>
                </args>
            </helloworldPetr>
        </routers>
        <layout>
            <updates>
                <helloworldPetr>
                    <file>helloworldPetr.xml</file>
                </helloworldPetr>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <helloworldPetr>
                <class>Book_HelloworldPetr_Block</class>
            </helloworldPetr>
        </blocks>
        <helpers>
            <helloworldPetr>
                <class>Book_HelloworldPetr_Helper</class>
            </helloworldPetr>
        </helpers>
    </global>
</config>