<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_KubaTest>
            <version>0.1.0</version>
        </Knihovna_KubaTest>
    </modules>
    <adminhtml>
        <!-- The <layout> updates allow us to define our block layouts in a separate file so are aren't messin' with the Magento layout files.  -->
        <layout>
            <updates>
                <kuba>
                    <file>awesome.xml</file>
                </kuba>
            </updates>
        </layout>
        <!-- The <acl> section is for access control. Here we define the pieces where access can be controlled within a role. -->
        <acl>
            <resources>
                <admin>
                    <children>
                        <kuba>
                            <title>Kuba menu</title>
                            <children>
                                <example translate="title" module="awesome">
                                    <title>Kuba menu</title>
                                </example>
                            </children>
                        </kuba>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <knihovna_kubatest>
                    <file>helloKuba.xml</file>
                </knihovna_kubatest>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <knihovna_kubatest>
                <class>Knihovna_KubaTest_Model</class>
            </knihovna_kubatest>
        </models>
        <blocks>
            <knihovna_kubatest>
                <class>Knihovna_KubaTest_Block</class>
            </knihovna_kubatest>
        </blocks>
        <helpers>
            <knihovna_kubatest>
                <class>Knihovna_KubaTest_Helper</class>
            </knihovna_kubatest>
        </helpers>
        <resources>
            <knihovna_kubatest_setup>
                <setup>
                    <module>Knihovna_KubaTest</module>
                </setup>
            </knihovna_kubatest_setup>
        </resources>
    </global>
</config>