<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_LuckaTest>
            <version>0.1.0</version>
        </Knihovna_LuckaTest>
    </modules>
    <global>
        <models>
            <knihovna_luckatest>
                <class>Knihovna_LuckaTest_Model</class>
                <resourceModel>knihovna_luckatest_resource</resourceModel>
                </knihovna_luckatest>
            <knihovna_luckatest_resource>
                <entities>
                    <knihovna_luckatest>
                        <table>tabulka_lucka</table>
                    </knihovna_luckatest>
                </entities>
            </knihovna_luckatest_resource>

        </models>
        <blocks>
            <knihovna_luckatest>
                <class>Knihovna_LuckaTest_Block</class>
            </knihovna_luckatest>
        </blocks>
        <helpers>
            <knihovna_luckatest>
                <class>Knihovna_LuckaTest_Helper</class>
            </knihovna_luckatest>
        </helpers>
        <resources>
            <knihovna_luckatest_setup>
                <setup>
                    <module>Knihovna_LuckaTest</module>
                </setup>
            </knihovna_luckatest_setup>
        </resources>
    </global>
</config>