<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_Titest>
            <version>0.1.0</version>
        </Knihovna_Titest>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Knihovna_Titest_Adminhtml before='Mage_Adminthtml'>Knihovna_Titest_Adminhtml</Knihovna_Titest_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <titest>
                <use>standard</use>
                <args>
                    <module>Knihovna_Titest</module>
                    <frontName>titest</frontName>
                </args>
            </titest>
        </routers>
    </frontend>
    <global>
        <models>
            <titest>
                <class>Knihovna_Titest_Model</class>
                <resourceModel>titest_resource</resourceModel>
            </titest>
            <titest_resource>
                <class>Knihovna_Titest_Model_Resource</class>
                <entities>
                    <knihovna_titest>
                        <table>vetable</table>
                    </knihovna_titest>
                </entities>
            </titest_resource>

        </models>
        <blocks>
            <titest>
                <class>Knihovna_Titest_Block</class>
            </titest>
        </blocks>
        <helpers>
            <titest>
                <class>Knihovna_Titest_Helper</class>
            </titest>
        </helpers>
        <resources>
            <titest_setup>
                <setup>
                    <module>Knihovna_Titest</module>
                </setup>
            </titest_setup>
        </resources>
    </global>
</config>