<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_Vetest>
            <version>0.1.0</version>
        </Knihovna_Vetest>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Knihovna_Vetest_Adminhtml before='Mage_Adminthtml'>Knihovna_Vetest_Adminhtml</Knihovna_Vetest_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <vetest>
                <use>standard</use>
                <args>
                    <module>Knihovna_Vetest</module>
                    <frontName>vetest</frontName>
                </args>
            </vetest>
        </routers>
    </frontend>
    <global>
        <models>
            <vetest>
                <class>Knihovna_Vetest_Model</class>
                <resourceModel>vetest_resource</resourceModel>
            </vetest>
            <vetest_resource>
                <class>Knihovna_Vetest_Model_Resource</class>
                <entities>
                    <knihovna_vetest>
                        <table>vetable</table>
                    </knihovna_vetest>
                </entities>
            </vetest_resource>

        </models>
        <blocks>
            <vetest>
                <class>Knihovna_Vetest_Block</class>
            </vetest>
        </blocks>
        <helpers>
            <vetest>
                <class>Knihovna_Vetest_Helper</class>
            </vetest>
        </helpers>
        <resources>
            <vetest_setup>
                <setup>
                    <module>Knihovna_Vetest</module>
                </setup>
            </vetest_setup>
        </resources>
    </global>
</config>