<?xml version="1.0"?>
<config>
    <modules>
        <Book_HelloworldPetr2>
            <version>0.1.0</version>
        </Book_HelloworldPetr2>
    </modules>
    <global>
        <models>
            <book_helloworldpetr2>
                <class>Book_HelloworldPetr2_Model</class>
            </book_helloworldpetr2>
        </models>
        <blocks>
            <book_helloworldpetr2>
                <class>Book_HelloworldPetr2_Block</class>
            </book_helloworldpetr2>
        </blocks>
        <helpers>
            <book_helloworldpetr2>
                <class>Book_HelloworldPetr2_Helper</class>
            </book_helloworldpetr2>
        </helpers>
        <resources>
            <book_helloworldpetr2_setup>
                <setup>
                    <module>Book_HelloworldPetr2</module>
                </setup>
            </book_helloworldpetr2_setup>
        </resources>
    </global>
</config>