<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_JS>
            <version>0.1.0</version>
        </Knihovna_JS>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Knihovna_JS_Adminhtml before='Mage_adminhtml'>Knihovna_JS_Adminhtml</Knihovna_JS_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <js>
                <use>standard</use>
                <args>
                    <module>Knihovna_JS</module>
                    <frontName>js</frontName>
                </args>
            </js>
        </routers>
    </frontend>
    <global>
        <models>
            <js>
                <class>Knihovna_JS_Model</class>
                <resourceModel>js_resource</resourceModel>
            </js>
            <js_resource>
                <class>Knihovna_JS_Model_Resource</class>
                <entities>
                    <knihovna_js>
                        <table>js_test</table>
                    </knihovna_js>
                    <knihovna_knihy>
                        <table>vj_test</table>
                    </knihovna_knihy>
                    <knihovna_ctenari>
                        <table>vetable</table>
                    </knihovna_ctenari>
                </entities>
            </js_resource>
        </models>
        <blocks>
            <js>
                <class>Knihovna_JS_Block</class>
            </js>
        </blocks>
        <helpers>
            <js>
                <class>Knihovna_JS_Helper</class>
            </js>
        </helpers>
        <resources>
            <js_setup>
                <setup>
                    <module>Knihovna_JS</module>
                </setup>
            </js_setup>
        </resources>
    </global>
</config>