<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_MysicelesniTest>
            <version>0.1.0</version>
        </Knihovna_MysicelesniTest>
    </modules>
    <global>
        <models>
            <knihovna_mysicelesnitest>
                <class>Knihovna_MysicelesniTest_Model</class>
            </knihovna_mysicelesnitest>
        </models>
        <blocks>
            <knihovna_mysicelesnitest>
                <class>Knihovna_MysicelesniTest_Block</class>
            </knihovna_mysicelesnitest>
        </blocks>
        <helpers>
            <knihovna_mysicelesnitest>
                <class>Knihovna_MysicelesniTest_Helper</class>
            </knihovna_mysicelesnitest>
        </helpers>
        <resources>
            <knihovna_mysicelesnitest_setup>
                <setup>
                    <module>Knihovna_MysicelesniTest</module>
                </setup>
            </knihovna_mysicelesnitest_setup>
        </resources>
    </global>
</config>