<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_MichalTest>
            <version>0.1.0</version>
        </Knihovna_MichalTest>
    </modules>
    <frontend>
        <routers>
            <michaltest>
                <use>standard</use>
                <args>
                    <module>Knihovna_MichalTest</module>
                    <frontName>michaltest</frontName>
                </args>
            </michaltest>
        </routers>
    </frontend>
    <global>
        <models>
            <michaltest>
                <class>Knihovna_MichalTest_Model</class>
                <resourceModel>michaltest_resource</resourceModel>
            </michaltest>
            <michaltest_resource>
                <entities>
                    <michaltest>
                        <table>tabulka_michal</table>
                    </michaltest>
                </entities>
            </michaltest_resource>
        </models>
        <blocks>
            <michaltest>
                <class>Knihovna_MichalTest_Block</class>
            </michaltest>
        </blocks>
        <helpers>
            <michaltest>
                <class>Knihovna_MichalTest_Helper</class>
            </michaltest>
        </helpers>
        <resources>
            <michaltest_setup>
                <setup>
                    <module>Knihovna_MichalTest</module>
                </setup>
            </michaltest_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Knihovna_MichalTest_Adminhtml before="Mage_Adminhtml">Knihovna_MichalTest_Adminhtml</Knihovna_MichalTest_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>