<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_Lucietest>
            <version>0.1.0</version>
        </Knihovna_Lucietest>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Knihovna_Lucietest_Adminhtml before="Mage_Adminhtml">Knihovna_Lucietest_Adminhtml</Knihovna_Lucietest_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <lucietest>
                <use>standard</use>
                <args>
                    <module>Knihovna_Lucietest</module>
                    <frontName>lucietest</frontName>
                </args>
            </lucietest>

        </routers>
    </frontend>
    <global>
        <models>
            <lucietest>
                <resourceModel>lucietest_resource</resourceModel>
                <class>Knihovna_Lucietest_Model</class>
            </lucietest>
            <lucietest_resource>
                <class>Knihovna_Lucietest_Model_Resource</class>
                <entities>
                    <knihovna_lucietest>
                        <table>lutable</table>
                    </knihovna_lucietest>
                </entities>
            </lucietest_resource>
        </models>
        <blocks>
            <lucietest>
                <class>Knihovna_Lucietest_Block</class>
            </lucietest>
        </blocks>
        <helpers>
            <lucietest>
                <class>Knihovna_Lucietest_Helper</class>
            </lucietest>
        </helpers>
        <resources>
            <lucietest_setup>
                <setup>
                    <module>Knihovna_Lucietest</module>
                </setup>
            </lucietest_setup>
        </resources>
    </global>
</config>