<?xml version="1.0"?>
<config>
    <modules>
        <Knihovna_Knihovna>
            <version>0.1.0</version>
        </Knihovna_Knihovna>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Knihovna_Knihovna_Adminhtml before="Mage_Adminhtml">Knihovna_Knihovna_Adminhtml</Knihovna_Knihovna_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <knihovna>
                <use>standard</use>
                <args>
                    <module>Knihovna_Knihovna</module>
                    <frontName>knihovna</frontName>
                </args>
            </knihovna>

        </routers>
    </frontend>
    <global>
        <models>
            <knihovna>
                <resourceModel>knihovna_resource</resourceModel>
                <class>Knihovna_Knihovna_Model</class>
            </knihovna>
            <knihovna_resource>
                <class>Knihovna_Knihovna_Model_Resource</class>
                <entities>
                    <knihovna_knihovna>
                        <table>lutable</table>
                    </knihovna_knihovna>
                </entities>
            </knihovna_resource>
        </models>
        <blocks>
            <knihovna>
                <class>Knihovna_Knihovna_Block</class>
            </knihovna>
        </blocks>
        <helpers>
            <knihovna>
                <class>Knihovna_Knihovna_Helper</class>
            </knihovna>
        </helpers>
        <resources>
            <knihovna_setup>
                <setup>
                    <module>Knihovna_Knihovna</module>
                </setup>
            </knihovna_setup>
        </resources>
    </global>
</config>